.pricing {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	isolation: isolate;
  	text-align: center;
  	font-size: 20px;
  	color: #2b2b2c;
  	font-family: Rubik;
}
.pricing-section {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 120px 0px 0px;
  	gap: 40px;
  	z-index: 0;
}
.title {
  	position: relative;
  	letter-spacing: -0.02em;
  	font-weight: 600;
}
.price-card {
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 40px;
  	text-align: left;
  	font-size: 16px;
  	color: #fa243c;
  	font-family: Rubik;
}
.price-card-left-container {
  	align-self: stretch;
  	box-shadow: 0px 4px 12px rgba(250, 36, 60, 0.06), 0px 4px 20px rgba(0, 0, 0, 0.06);
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.03);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 16px;
  	gap: 20px;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 20px;
}
.plan-name-parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
}
.plan-name {
  	position: relative;
}
.feature-list {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 14px;
  	color: #2b2b2c;
}
.feature-item {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 4px;
}
.frame-icon {
  	height: 16px;
  	width: 16px;
  	border-radius: 16px;
}
.feature-description {
  	position: relative;
  	letter-spacing: -0.02em;
}
.buttonget {
  	border-radius: 200px;
  	background-color: #fee9eb;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	font-size: 12px;
}
.button-label {
  	position: relative;
  	letter-spacing: -0.32px;
  	font-weight: 600;
}
.button-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 4px;
  	color: #fff;
}
.buttonget2 {
  	width: 239px;
  	height: 35px;
  	border-radius: 200px;
  	background-color: #fa243c;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 40px;
  	box-sizing: border-box;
  	min-height: 32px;
}
.support-text {
  	position: relative;
  	font-size: 12px;
  	letter-spacing: -0.32px;
  	font-weight: 600;
  	color: #bbbbbe;
  	text-align: center;
}
.price-card-right-container {
  	box-shadow: 0px 4px 12px rgba(250, 36, 60, 0.06), 0px 4px 20px rgba(0, 0, 0, 0.06);
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.03);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px;
  	gap: 32px;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 13px;
}
.buttonget4 {
  	height: 35px;
  	border-radius: 200px;
  	background-color: #fa243c;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 64px;
  	box-sizing: border-box;
  	min-height: 32px;
}
.support-section {
  	align-self: stretch;
  	height: 246px;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 80px 80px 120px;
  	box-sizing: border-box;
  	z-index: 1;
  	font-size: 16px;
  	font-family: Rubik;
}
.support-section-container {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0px 40px;
  	flex-shrink: 0;
}
.title2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.support-text3 {
  	position: relative;
  	font-size: 14px;
  	letter-spacing: -0.02em;
  	color: #8e8e93;
  	text-align: left;
}
.support-buttons-container {
  	display: flex;
  	align-items: flex-start;
  	gap: 32px;
  	text-align: left;
  	font-size: 12px;
}
.support-button {
  	display: flex;
  	align-items: center;
  	cursor: pointer;
}
.container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 8px;
}
.support-button2 {
  	width: 64px;
  	height: 64px;
  	position: relative;
  	box-shadow: 0px 2px 12.2px rgba(0, 0, 0, 0.1);
}
.screenshot-2026-02-27-at-1832 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 14px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.vector-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 79.06%;
  	width: 81.25%;
  	top: 10.45%;
  	right: 9.38%;
  	bottom: 10.49%;
  	left: 9.38%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.icon {
  	position: absolute;
  	height: 48.13%;
  	width: 63.59%;
  	top: 25.93%;
  	right: 18.17%;
  	bottom: 25.95%;
  	left: 18.24%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.idr5voioyc-logos-1-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.navigation {
  	width: 1280px;
  	height: 60px;
  	margin: 0 !important;
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 640px);
  	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  	background-color: rgba(255, 255, 255, 0.7);
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 24px;
  	box-sizing: border-box;
  	z-index: 2;
  	text-align: left;
  	font-size: 21px;
  	color: #fa243c;
}
.nav-bar-content {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
  	max-width: 100%;
}
.hub-link {
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.logo-hub {
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	cursor: pointer;
}
.logo-icon {
  	height: 24px;
  	width: 24px;
  	position: relative;
}
.wordmark {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 110%;
  	font-weight: 600;
}
.name-of-the-page {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 20px;
  	color: #2b2b2c;
  	font-family: Rubik;
}
.nav-button {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	font-size: 12px;
  	color: #8e8e93;
  	font-family: Rubik;
}
.button {
  	border-radius: 200px;
  	background-color: #f4f4f4;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
}
.button2 {
  	border-radius: 200px;
  	background-color: #fa243c;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
  	color: #fff;
}
.button3 {
  	border-radius: 200px;
  	border: 1px solid #fa243c;
  	display: flex;
  	align-items: center;
  	padding: 4px 8px;
  	color: #fa243c;
}

